@using SoftPlex.Contracts;
@using SoftPlex.Contracts.Response
@model ProductFilterModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Поиск по фильтру</h2>

<form class="login_form" asp-controller="ProductFilter" asp-action="index" method="get">
	<div class="login_form__row">
		<label class="login_form__row_label">Product Name</label>
		<input class="login_form__row_input" type="text" name="ProductName" value="@Model.ProductNameIn" />
		

		<label class="login_form__row_label">Product Version Name</label>
		<input class="login_form__row_input" type="text" name="ProductVersionName" value="@Model.ProductVersionNameIn" />


		<label class="login_form__row_label">Min Size</label>
		<input class="login_form__row_input" type="text" name="MinSize" value="@Model.MinSize" />
		
		<label class="login_form__row_label">Max Size</label>
		<input class="login_form__row_input" type="text" name="MaxSize" value="@Model.MaxSize" />

		
		<button class="login_form__row_button" type="submit">Применить</button>

	</div>
</form>



<div>
	<table>
		<tr>
			<th>Id</th>
			<th>ProductName</th>
			<th>ProductVersionName</th>
			<th>Width</th>
			<th>Height</th>
			<th>Length</th>
		</tr>
		
		@if (Model is not null)
		{
			foreach (ResponseFilterEngine item in Model.FilterEngines)
			{
				<tr>
					<td>

						<a href="/Product/index#trg_@item.Id">@item.Id</a>
					</td>
					<td>
						@item.ProductName
					</td>
					<td>
						@item.ProductVersionName
					</td>
					<td>
						@item.Width
					</td>
					<td>
						@item.Height
					</td>
					<td>
						@item.Length
					</td>
				</tr>
			}
		}
	</table>
</div>
